/* Styles by Dav Lizarraga */

@import 'normalize.styl'

/*===============================
=            Settings            =
===============================*/

$blue = #22A7F0
$blueDark = #2c3e50
$red = #F22613
$green = #2ECC71
$yellow = #F7CA18
$white = #FFF
$highlight = #22A7F0
$dark = #2C3135
$light = #EDEFF5
$gray = #7f8c8d

/*=====  End of Settings  ======*/

/*====================================
=            Applitaction            =
====================================*/

*
	box-sizing border-box

body
	font-family 'Lato', sans-serif

.wrapper_wide
	width 90%
	margin 0 auto

.wrapper
	width 80%

.wrapper_skinny
	width 60%
	margin 0 auto

.responsive_break
	white-space nowrap

.cf:before, .cf:after
	content " "
	display table

.cf:after
	clear both

.button
	color $white
	text-decoration none
	font-size 1rem
	border-radius 2rem
	outline none
	border none
	padding .5rem 1rem

.button_block
	display block
	margin 0 auto

.button_highlight
	background $blue
	transition background .4s ease-in-out
	&:hover
		background $blueDark

.button_white
	background $white
	color $dark
	transition: background .4s ease-in-out;
	&:hover
		background $dark

header
	color $white
	background $blueDark
	padding 2rem 0
	.logo
		float left
		text-transform uppercase
		font-weight 700
		color $white
		text-decoration none
	nav
		float right
		ul
			list-style none
			margin 0
			li
				display inline
				margin-left 2rem
				position relative
				a
					color $white
					text-decoration none
					font-weight 700
					font-size 0.9rem
					&:hover
						color $highlight
.links
	text-align center
	padding 1rem 0
	ul
		list-style none
		padding-left 0
		padding 1rem 0
		margin-bottom 1rem
		border-bottom 1px solid $light
		li
			display inline
			margin-right 1rem
			font-weight 700
			a
				color $dark
				text-decoration none
				&:hover
					color $highlight
		.current
			color $highlight

.form
	padding 2rem 3.5%
	background $white
	border-radius .35rem
	.title
		color $dark
		text-align center
		
	.field
		margin .5rem 0 1.5rem 0
	
input[type="email"], input[type="text"], input[type="password"], textarea
	width 100%
	height 2.5rem
	padding .5rem 1rem
	background $white
	border 1px solid $dark
	border-radius .35rem
	margin-top .5rem

input[type='file']
	margin-top .5rem
textarea
	height 8rem


footer
	padding 10px
	text-align center
	background $dark
	.nav-footer
		list-style none
		margin 0
		padding 0
		li
			display inline-block
			margin 20px 25px 0 0
			a
				color #FFF
				font-size 1rem
				font-weight 400
			&:last-child
				margin-right 0	
	p
		color #FFF
		font-size 1rem
		font-weight 400
		a
			color #FFF
			font-weight 700
			&:hover
				color $blue

.podcast
	.banner
		background $dark	
		//background-image url("../images/banner.jpg")
		margin-bottom 1rem
		background-size cover
		text-align center
		padding 5rem 0
		h1
			font-size 2.5rem
			font-weight 700
			color $white
		.description
			font-size 1.2rem
			width 85%
			line-height 1.75
			margin 0 auto 2rem auto
			color $white
		a
			font-size 1rem
			font-weight 500
			text-align center
			color $white
			display inline
			padding .3rem .3rem
			margin 0 .3rem
			text-decoration none
			&:hover
				color $blue
				
	.episodes
		padding 3rem 0
		ul
			list-style none
			padding-left 0
			li
				padding-bottom 2rem
				border-bottom 1px solid $light
				margin-bottom 2rem
				&:last-child
					border-bottom none
				.thumbnail
					width 22%
					float left
					img
						width 10rem
						max-width 100%
						border-radius .35rem
				.overview
					width 76.5%
					float left
					margin-left 1.5%
					h2
						a
							color $dark
							text-decoration none
					.description
						color $gray
					.admin_links
						font-weight 700
						font-size .8rem
						a
							color $highlight
							margin-right 1rem
	.episode
		padding 4rem 0
		margin-bottom 4rem
		border-bottom 1px solid $light
		.thumbnail
			img
				display block
				margin 0 auto 2rem auto
				width 15rem
				max-width 100%
				border-radius .35rem
		h2
			font-size 1.5rem
			text-align center
		.description
			text-align center
			font-size .9rem
			line-height 1.7rem
			color $dark
		a
			text-decoration none
		.jp-jplayer, .jp-audio
			width 70%
			margin 3rem auto .5rem auto
		.jp-title
			font-size 12px
			text-align center
			color #999
		.jp-title ul
			padding 0
			margin 0
			list-style none
		.jp-gui
			position relative
			background $blue
			transition background .4s ease-in-out
			border-radius 3px
			overflow hidden
			margin-top 10px
		.jp-controls
			padding 0
			margin 0
			list-style none
			font-family "FontAwesome"
		.jp-controls li
			display inline
		.jp-controls a
			color $white
		.jp-play, .jp-pause
			width 60px
			height 40px
			display inline-block
			text-align center
			line-height 43px
			border-right 1px solid $light
		.jp-controls .jp-play:hover,.jp-controls .jp-pause:hover
			background-color $dark
		.jp-mute, .jp-unmute
			position absolute
			right 59px
			top -3px
			width 20px
			height 40px
			display inline-block
			line-height 46px
		.jp-mute
			text-align left
		.jp-time-holder
			color $white
			font-size 12px
			line-height 14px
			position absolute
			right 90px
			top 14px
		.jp-progress
			background-color $dark
			border-radius 20px 20px 20px 20px
			overflow hidden
			position absolute
			right 22%
			top 15px
			width 65%
		.jp-play-bar
			height 12px
			background-color $white
			border-radius 20px 20px 20px 20px
		.jp-volume-bar
			position absolute
			right 10px
			top 17px
			width 45px
			height 8px
			border-radius 20px 20px 20px 20px
			background-color $dark
			overflow hidden
		.jp-volume-bar-value
			background-color $white
			height 8px
			border-radius 20px 20px 20px 20px

/*=====  End of Application  ======*/

