doctype html
html
	head
		block head
		title #{title || 'Podst'}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300|Roboto:400,500,700,900,300')
		link(rel='stylesheet', href='/css/admin.css')
		link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		block neck
	body
		include ./partials/_header.jade
		block body
		footer
			include ./partials/_footer.jade
		block feet