doctype html
html
  head
    block head
      title #{title}
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet', href='/css/style.min.css')
    block neck
  body
    block body

    script(src='/js/main.js')
    block feet