.banner(style={'background-image': 'url(../images/banner.jpg)'})
	.wrapper_skinny
		a(href='/')
			h1 #{app.title}
		p.description #{app.description}
		a(href='http://twitter.com/davgeek') Twitter
		a(href='http://github.com/davgeek') GitHub
		