extends layout
block body
	.podcast
		include ./partials/_header.jade
		.episodes
			.wrapper_skinny
				ul.cf
					li.cf
						a(href='#')
							.thumbnail
								img(src='/images/test.jpg')
							.overview
								h2 #3 - Revenge of the Sith
								p.description Episode description
					li.cf
						a(href='#')
							.thumbnail
								img(src='/images/test.jpg')
							.overview
								h2 #2 - Attack of the Clones
								p.description Episode description
					li.cf
						a(href='#')
							.thumbnail
								img(src='/images/test.jpg')
							.overview
								h2 #1 - The Phantom Menace
								p.description Episode description

