extends layout
block body
	.podcast
		include ./partials/_header.jade
		.episode
			.wrapper_skinny
				.thumbnail
					img(src='/images/test.jpg')
				h2 #3 - Revenge of the Sith
				p.description Episode description

				#player.jp-jplayer
				#player_container.jp-audio
					.jp-type-single
						.jp-gui.jp-interface
							ul.jp-controls
								li
									a(href="javascript:;" class="jp-play" tabindex="1") &#61515;
								li
									a(href="javascript:;" class="jp-pause" tabindex="1") &#61516;
								li
									a(href="javascript:;" class="jp-mute" tabindex="1" title="mute") &#61480;
								li
									a(href="javascript:;" class="jp-unmute" tabindex="1" title="unmute") &#61478;
							.jp-progress
								.jp-seek-bar
									.jp-play-bar
							.jp-volume-bar
								.jp-volume-bar-value
							.jp-time-holder
								.jp-current-time
							.jp-no-solution
								span Update Required
								| To play the media you will need to either update your browser to a recent version or update your
								a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
								| .

		.episodes
			.wrapper_skinny
				ul.cf
					li.cf
						a(href='#')
							.thumbnail
								img(src='/images/test.jpg')
							.overview
								h2 #2 - Attack of the Clones
								p.description Episode description
					li.cf
						a(href='#')
							.thumbnail
								img(src='/images/test.jpg')
							.overview
								h2 #1 - The Phantom Menace
								p.description Episode description
block feet
	script(type='text/javascript').
		$(document).ready(function(){
			$("#player").jPlayer({
					ready: function () {
						$(this).jPlayer("setMedia", {
							mp3: "http://www.vigrond.com/jplayerTest/beer.mp3"
						});
					},
					supplied: "mp3",
					swfPath: "/js",
					solution: "html,flash",
					cssSelectorAncestor: '#player_container'
				});
		});